.container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 600px;
    border-radius: 8px;
    background-color: rgb(205, 205, 205);
    padding: 100px 25px 0px 25px;
}

.input {
    margin: 8px 0;
    width: 250px;
    border-radius: 8px;
    background-color: antiquewhite;
    border: none;
    color: #666;
}

.input_container {

    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: green; */
    /* border: 1px solid #666; */
    /* height: 25px; */
}

.button {
    margin-top: 25px;
    background-color: rgb(13, 187, 163);
    width: 100px;
    height: 30px;
    border-radius: 8px;
    border: none;
}